/*page*/

*{
	padding:0; margin:0;
	overflow:hidden;
}

p{
	font-family: Angelina; src: url('angelina.ttf');
	color: #DDDDDD;
	margin-right: 200px;
}
small a, 
p a{
	color: #ddd;
	text-decoration: none;
}

#page-wrap {
 width: 1030px;
 margin: 100px;
 padding: 20px;
 background:#FF6464;
 box-shadow: 0 0 20px black;
}

/* Header */
header{
	background:url(../img/bgindex.jpg) center no-repeat;
	padding: 12px 85px 0px;
	margin-bottom: 0;
	position: relative;
	z-index: 30;
	overflow: hidden;
	color:#C36;
	font-size:70px;
	font-family:great vibes;

}
header a{
	color:#06F;
	text-decoration: none;
}

/* Content Page Class */

.page{
	background:none;
	overflow:scroll;
}

.home{
	background-color:#Ccc;
}
	.home .page-container{
	position: absolute;
	color:#CCC;
	left:40px;
	
	}
		.home .page-container h2{
			font-size: 4em;
			font-variant:small-caps;
					}
		.home .page-container p{
			font-size:30px;
		}

		
		/*css gambar*/
		.img-desc {
	position: relative;
	display: block;
	height: 302px;
	width: 484px;
}
.img-desc cite {
	background: #111;
	filter:alpha(opacity=55);
	opacity:.55;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 484px;
	padding: 0px;
	border-top: 1px solid #999;
}
		
		/*css menubar*/
.menu{
    border:#c66;
	margin:0px;
    padding: 2px 340px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:17px;
	font-weight:bold;
	background:none;
	
	}
.menu ul{
	background:none;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
}
.menu li{  float:right;  padding:0px; }
.menu li a{
background:none;
color:#cccccc;
display:block;
font-weight:normal;
line-height:35px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a{
color:#f69;
text-decoration:none;
}
